<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Главная</title>
    <link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
    <header class="main-header">
        <div class="logo-white"></div>
        <nav class="main-nav">
            <a href="/" class="nav-item active">Главная</a>
        </nav>

        <a href="/login" class="login-button">Войти</a>
    </header>
    <main class="main-content">
        <h1>Добро пожаловать на домашнюю страницу!</h1>
    </main>
</body>
</html>